.login-view-container {
  background: url("../../../Assets/Images/background.png");
  background-size: cover;
  /* width: 100vw; */
  /* min-height: 100%; */
  overflow-x: hidden;
  height: 100%;
  /* filter:blur(1px);
    -o-filter:blur(1px);
    -ms-filter:blur(1px);
    -moz-filter:blur(1px);
    -webkit-filter:blur(1px); */
}

.login-view-adjust {
  /* padding: 5% 0 5% 0; */
}

@media only screen and (max-width: 767px) {
  .login-view-adjust {
    padding: 10% 0 10% 0;
  }
}

@media only screen and (max-width: 376px) {
  .login-view-adjust {
    padding: 25% 0 0 0;
  }
}

@media only screen and (max-width: 350px) {
  .login-view-adjust {
    padding: 8% 0 0 0;
  }
  .login-view-container {
    height: 120vh;
  }
}
