.category-actions {
  cursor: pointer;
}
.category-menu {
  border: 1px solid #fbb03b;
  border-radius: 0px;
}
.category-menu-item {
  color: #fbb03b;
}
.category-menu-item:hover {
  background-color: #fbb03b;
  color: #ffffff;
  cursor: pointer;
}
.sub-cat-btn {
  color: #fbb03b;
  border: 1px solid #fbb03b;
  background-color: #ffffff;
}
.sub-cat-btn:hover {
  background-color: #fbb03b;
  color: #ffffff;
}
