.search-input {
  border-top: 2px solid #fbb03b;
  border-left: 2px solid #fbb03b;
  border-bottom: 2px solid #fbb03b;
  font-size: 15px;
  color: #a1a1a1;
}
.search-input::placeholder {
  color: #a1a1a1;
}
.category-dropdown {
  border-top: 2px solid #fbb03b;
  border-bottom: 2px solid #fbb03b;
  border-left: 1px solid #eee;
}
.category-dropdown-button {
  background-color: #ffffff;
  color: #a1a1a1;
  outline: none;
  font-size: 14px;
  border-radius: 0px;
}
.category-dropdown-menu {
  /* border: 2px solid #fbb03b; */
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: scroll;
}
.cayegory-dropdown-item{
    font-size: 14px;
}
.cayegory-dropdown-item:hover {
  background-color: #fbb03b;
  color: #ffffff;
  cursor: pointer;
}
.seacrch-icon {
  border-top: 2px solid #fbb03b;
  border-right: 2px solid #fbb03b;
  border-bottom: 2px solid #fbb03b;
  background-color: #fbb03b;
  cursor: pointer;
}
.cart-button > div {
  color: #a1a1a1;
  cursor: pointer;
}
.cart-button > div:hover {
  color: #fbb03b;
}
.badge {
  display: block;
  position: relative;
  width: 18px;
  top: -46px;
  left: 20px;

  height: 16px;
  padding: 0 5px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);

  border-width: 1px;
  border-style: solid;
  border-radius: 50px;
  border-color: #fbb03b;
  background-color: #fbb03b;
}
